<div class="alert alert-success" *ngIf="message">{{message}}</div>

<div class="container">
    <table class="table table-striped table-bordered shadow p-3 mb-5 bg-white rounded text-center">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th>Engine</th>
                <th>Price</th>
                <th>Available</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="align-middle">
            <tr *ngFor="let car of cars">
                <td class="align-middle">{{car.name}}</td>
                <td class="align-middle">{{car.color}}</td>
                <td class="align-middle">{{car.engine}}</td>
                <td class="align-middle">{{car.price}}</td>
                <td class="align-middle">{{car.available}}</td>
                <td class="align-middle">
                    <button (click)="updateCar(car.id)" class="btn btn-success mr-3">Update</button>
                    <button (click)="deleteCar(car.id)" class="btn btn-warning">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <button (click)="addCar()" class="btn btn-success">Add Car</button>
    </div>
</div>