<h2 class="text-center">Login</h2>

<div class="container col-md-3">
    <form (ngSubmit)="!loginForm.invalid && handleLogin()" #loginForm="ngForm">
        <fieldset>
            <div class="alert alert-warning" *ngIf="invalidLogin">{{errorMessage}}</div>
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" name="username" [(ngModel)]="username" placeholder="Username" class="form-control" required #usernameCheck="ngModel">
                    <div *ngIf="usernameCheck.invalid && usernameCheck.touched" class="alert alert-warning">
                        <div *ngIf="usernameCheck.errors.required"> Username is required. </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" [(ngModel)]="password" class="form-control" required #passwordCheck="ngModel">
                    <div *ngIf="passwordCheck.invalid && passwordCheck.touched" class="alert alert-warning">
                        <div *ngIf="passwordCheck.errors.required"> Password is required. </div>
                    </div>
                </div>
        </fieldset>
        <button class="btn btn-success col-md">Login</button>
    </form>
</div>